:root{
    --red: hsla(360, 100%, 41%, 1);
    --green: hsla(127, 100%, 41%, 1);
    --pink: hsla(318, 100%, 60%, 1);
    --orange: hsla(23, 100%, 56%, 1);
    --orangeL: hsla(28, 100%, 68%, 1);
    --purple: hsla(285, 100%, 56%, 1);
    --yellow: hsla(59, 100%, 56%, 1);
    --coffee: hsla(27, 100%, 30%, 1);
    --white: #ffffff;
    --black: #000000;
    /* size */
    --size-a: 300px;
    --radius: 25px;
    --border: 2px;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
*,
*:before,
*:after{
    box-sizing: border-box;
}
/* Card place */
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* Principal container of the card */
.card-container{
    width: var(--size-a);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: var(--radius);
    box-shadow: -1px 15px 30px -10px;
}
/* Main img */
.card-img{
    border-start-end-radius: var(--radius);
    border-start-start-radius: var(--radius);
    background: linear-gradient(to top, rgba(126, 0, 0, 0.897)65%, rgba(255, 0, 0, 0.945)100%) fixed;
    display: flex;
    width: var(--size-a);
    height: 270px;
}
.card-img > img{
    position: relative;
    display: inline-block;
    z-index: 1;
    width: inherit;
    height: var(--size-a);
    margin-left: -45px;
}
/* Body */
.card-body{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Fonts & other values */
.card-body .name-pj,
.card-body .title-pj,
.card-body .card-description,
.value,
.value-skills{
    text-align: center;
    display: inline;
    font-family: 'Dancing Script', cursive;
}
.name-pj{
    margin: 6px 0;
    font-size: 32px;
}
.title-pj{
    color: var(--red);
    margin-top: -14px;
    margin-bottom: -5px;
}
.card-description{
    font-size: 16px;
}
.value{
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
}
/* Footer */
.card-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-end-start-radius: var(--radius);
    border-end-end-radius: var(--radius);
    background-color: var(--orange);
}
.skills{
    flex-grow: 1;
    text-align: center;
}
.skills:nth-child(2){
    border-left: var(--border) solid var(--orangeL);
    border-right: var(--border) solid var(--orangeL);    
}
.skills:first-child,
.skills:nth-child(2),
.skills:last-child{
    border-top: var(--border) solid var(--orangeL);
}

.skills > img{
    width: 55px;
}
.value{
    display: flex;
    flex-direction: column;
}